{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 style="text-align: center; margin-bottom: 40px;">Welcome, {{ user.first_name }}!</h1>
<!-- HERO BANNER -->
<div style="
    height: 90vh;
    width: 100%;
    position: relative;
    border-radius: 20px;
    background-image: url('https://media.istockphoto.com/id/1805616345/photo/photo-of-pretty-girl-holding-many-packs-hands-wear-dress-isolated-white-background-stock-photo.webp?a=1&b=1&s=612x612&w=0&k=20&c=20MelTwgdgHXVDibG4GfnuVl07rbOzMMAJX22zeR8fA=');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
">

    <!-- Dark Overlay -->
    <div style="
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.25);
        border-radius: 20px;
    "></div>

    <!-- SHOP NOW BUTTON -->
    <a href="{% url 'products:product_list' %}" style="
           position: absolute;
           bottom: 40px;        /* adjust up/down */
           right: 0;
           padding: 20px 80px;
           background: black;
           color: white;
           font-size: 1.8rem;
           font-weight: bold;
           text-decoration: none;
           border-radius: 50px 0 0 50px;
           box-shadow: 0 8px 20px rgba(0,0,0,0.4);
       ">
        SHOP NOW
    </a>

</div>

{% endblock %}