
{% extends 'base.html' %}
{% block content %}
<div class="d-flex flex-column justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow-sm mt-5">
                    <h1 class="card-title text-center mb-4">Login</h1>
                    {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                    <form method="post" class="mt-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                        <a href="{% url 'users:register' %}" class="btn btn-link w-100 mt-2">New user? Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
